@media (min-width: 1200px) {
    .container {
        max-width: 970px;
        align-items: center;
    }
}

@media (min-width:400px) {
    .global-search {
        padding: 20px 0;
        text-align: center;
    }
    body, p, h1 {
        font-family: "DM Sans";
        color: #495057;
        text-align: center;
        padding: 10px;
        margin-top: -5px;
    }
    script {
        display: none;
    }
    img {
        position: absolute;
        width: 140px;
        height: 120px;
        padding: 5px;
    }
    .form-group {
        margin-top: 15px;
        padding-top: 15px;
        font-family: "DM Sans";
        color: #495057;
        padding-bottom: 30px;
    }
    .global-search {
        text-align: center;
        font-family: "DM Sans";
        color: #495057;
        padding-top: 15px;
    }
    .global-search .form-control {
        width: 500px;
    }
}

.recency {
    padding-left: 10px;
}

.topcorner {
    position: absolute;
    text-align: left;
    top: 1%;
    left: 1%;
}

.btn:hover {
    color: #FFF1A7;
    border: #FFF1A7;
}

.global-search .form-control {
    width: 500px;
}

.global-search * {
    display: inline-block;
}

.middle-body {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

.topcorner {
    position: absolute;
    text-align: left;
    top: 2%;
    left: 2%;
}

.btn {
    background-color: #86BBD8;
    border: none;
    font-family: "DM Sans";
    border-radius: 4px;
    transition-duration: 0.4s;
    color: #272343;
    padding-right: 10x;
    margin-right: 10px;
    margin-top: -10px;
}

.topic-btn {
    background-color: transparent;
    border: none;
    font-family: "DM Sans";
    transition-duration: 0.4s;
}

.topic-btn:hover {
    color: #FFF1A7;
}

.step-links a {
    color: #86BBD8;
}

.topmost {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

@media(max-width:600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: white;
    padding: 10px;
}

footer {
    background-color: #86BBD8;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#parent {
    background: #C1DEF9;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex: 7 3; */
    justify-content: space-between;
    align-items: center;
}

.child {
    background: #ccc;
    height: 200px;
    margin: 20px;
}

#div-switch {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#sorts {
    border-radius: 4px;
    line-height: 1.42857143;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

mark {
    background-color: #FFF1A7;
}