@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px) {
    .global-search {
        padding: 20px 0;
        text-align: center;
    }
    body,
    p,
    h1 {
        font-family: "DM Sans";
        color: #495057;
        text-align: center;
    }
    script {
        display: none;
    }
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    .form-group {
        display: inline-block;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: "DM Sans";
        color: #495057;
    }
    .global-search {
        text-align: center;
        font-family: "DM Sans";
        color: #495057;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .global-search .form-control {
        width: 500px;
    }
    .global-search * {
        display: inline-block;
        margin-bottom: 0;
    }
}

.topcorner {
    position: absolute;
    text-align: left;
    top: 2%;
    left: 2%;
}

.btn:hover {
    background-color: white;
    color: #4285f4;
    border: #4285f4;
}

.global-search .form-control {
    width: 500px;
}

.global-search * {
    display: inline-block;
    margin-bottom: 0;
}

.topcorner {
    position: absolute;
    text-align: left;
    top: 2%;
    left: 2%;
}

.btn {
    background-color: #86BBD8;
    border: none;
    font-family: "DM Sans";
    border-radius: 4px;
    transition-duration: 0.4s;
}

.step-links a {
    color: #86BBD8;
}


/* input{    
    background: url("") top left no-repeat;
    height:30px;
    padding-left:25px;   
} */