
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: #272343;
}

a:visited {
    color: #F784AD
}

a:hover {
    color: #FFD803;
    text-decoration: underline
}

a:active {
    color: #272343
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #86BBD8;
    color: white;
    border: none;
    cursor: pointer;
    pointer-events: none;
    font-family: "DM Sans";
    border-radius: 4px;
}

.dropdown:hover .dropbtn {
    background-color: #FFD803;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #86BBD8;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logoBtn {
    cursor: pointer;
    border: none;
    color: transparent;
}

.circle {
    /* display: inline; */
    border-radius: 50%;
    width: 10em;
    height: 10em;
    shape-outside: circle(50%);
}
.circle {
    background-color: #EF4565;
    width: 14em;
    height: 14em;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}
.circle2 {
    background-color: #F2994A;
    width: 7em;
    height: 7em;
    float: left;
    /* margin-right: 20px; */
}
.circle3 {
    background-color: #F2C94C;
    float: left;
    margin-bottom: 30px;
    margin-top: 90px;
    margin-right: 10px;
}
.circle4 {
    background-color: #6FCF97;
    width: 9em;
    height: 9em;
    margin-right: 30px;
    float: left
}
.circle5 {
    background-color: #56CCF2;
    width: 8em;
    height: 8em;
    margin-right: 30px;
    float: right;
}
.circle6 {
    background-color: #2F80ED;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
.circle7 {
    background-color: #BB6BD9;
    width: 17em;
    height: 17em;
    float: right;
    /* margin-left: 70px; */
}
.circle8 {
    background-color: #F784AD;
    width: 6em;
    height: 6em;
    float: right;
    margin-top: 150px;
    /* margin-left: 70px; */
}

h2 {
    font-family: "DM Sans";
    color: #495057;
    text-align: center;
    font-size: 18px;
}

.info {
    white-space: pre
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

