a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
  display: inline-block;
}

a:link {
  color: #272343;
}

form a:visited {
  color: #272343;
}

a:hover {
  color: rgb(177, 148, 6);
  text-decoration: underline
}

a:active {
  color: #F784AD
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #86BBD8;
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: none;
  font-family: "DM Sans";
  border-radius: 4px;
}

.dropdown:hover .dropbtn {
  background-color: #FFD803;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #86BBD8;
  padding: 12px 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logoBtn {
  background: url(/static/logo.png) no-repeat;
  cursor: pointer;
  border: none;
  color: transparent;
}

.circle {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  width: 14em;
  height: 14em;
  shape-outside: circle(50%);
  color: white;
  font-size: 18px;
}

.circle1 {
  background-color: #EF4565;
  width: 8em;
  height: 8em;
  float: left;
  margin-right: 15px;
  margin-top: 40px;
}

.circle2 {
  background-color: #F2994A;
  width: 6em;
  height: 6em;
  float: left;
  margin-left: 5px;
}

.circle3 {
  background-color: #F2C94C;
  float: left;
  width: 12em;
  height: 12em;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: 10px;
}

.circle4 {
  background-color: #6FCF97;
  width: 7em;
  height: 7em;
  margin-right: 10px;
  float: left
}

.circle5 {
  background-color: #56CCF2;
  width: 9em;
  height: 9em;
  margin-right: 5px;
  margin-left: 50px;
  margin-top: 20px;
  float: right;
}

.circle8 {
  background-color: #2F80ED;
  width: 8em;
  height: 8em;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle7 {
  background-color: #BB6BD9;
  width: 9em;
  height: 9em;
  float: right;
  margin-right: 20px;
}

h2 {
  font-family: "DM Sans";
  color: #495057;
  font-size: 18px;
}

.info {
  white-space: pre
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #ccc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

h3 {
  color: white;
  font: DM-Sans;
  font-size: 15px;
  position: absolute;
  align-items: center;
}

.popular-topics {
  padding-bottom: 50px;
}

.invisible {
  display: none
}

.mark {
  font-style: italic;
}

.left {
  text-align: left;
  align-self: flex-start;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 25px;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 10px;
  padding: 15px;
  justify-content: center;
}

.similarbutton {
  margin-top: 5px;
  margin-right: 0px;
  width: 150px;
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  #parent {
    flex-direction: column;
  }
 
  .left {
    width: 100%;
    text-align: center;
  }
 
  .right {
    text-align: center;
    padding: 0px;
    padding-bottom: 20px;
  }

  .similarbutton {
    align-self: center;
  }
 }

 @media only screen and (min-width: 1200px) {
  .left {
      width: 70%;
  }   
 }